includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    paths:
        - Okay
        - backend
    excludePaths:
        - Okay/Modules/*/vendor/*
        - backend/design/js/filemanager/*
        - backend/design/compiled/*
        - Okay/xml/compiled/*
    bootstrapFiles:
        - vendor/autoload.php
