.footer_time {
    text-decoration: none;
    color: #fff;
    font-weight: 400 !important;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
#working-hours-list {
    display: none;
    position: absolute;
    background: #fff;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    z-index: 10;
    width: 232px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#working-hours-list.visible {
    display: block;
}
.footer__title {
    cursor: pointer;
    position: relative;
}
.menu_eventer:after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #fff;
    transform: rotate(45deg);
    transition: all 0.2s;
    position: relative;
    top: -3px;
    margin-left: 5px;
}
.footer__title.menu_eventer:hover:after {
    transform: rotate(-135deg);
    top: 2px;
}
.footer__title.menu_eventer.opened:after {
    transform: rotate(-135deg);
    top: 2px;
}
.working-hours-list {
    display: block;
}
.working-day {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid #ededed;
}
.working-day:last-child {
    border-bottom: none;
}
.working-day span {
    flex: 1;
}
.working-day .time {
    text-align: right;
}
.closed-text {
    color: red;
    text-align: right;
}